/* Extra extra large */
@media screen and (max-width: 1400px){

}

/* Extra large */
@media screen and (max-width: 1200px){

}

/* Large */
@media screen and (max-width: 992px){
.header {
  margin-left: 15px;
  margin-right: 15px;
}
}

/* Medium */
@media screen and (max-width: 768px){
 .nav-wrapper {
  display: none;
 }

 .nav-wrapper-mobile {
  display: block;
}
}

/* Small */
@media screen and (max-width: 576px){

}