/* Extra extra large */
@media screen and (max-width: 1400px){

}

/* Extra large */
@media screen and (max-width: 1200px){
  .hero__image {
    max-width: 450px;
  }

  .header {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }
}

/* Large */
@media screen and (max-width: 992px){
.header {
  margin-left: 15px;
  margin-right: 15px;
}
}

/* Medium */
@media screen and (max-width: 768px){
 .nav-wrapper {
  display: none;
 }

 .nav-wrapper-mobile {
  display: block;
}

.hero {
  flex-direction: column-reverse;
}

.hero__title {
  text-align: center;
}

.mobile-stores {
  justify-content: center;
}

.header {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}
}

/* Small */
@media screen and (max-width: 576px){

}